.mainContainer {
  margin: 10vh auto;
  width: fit-content;
  h3 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    color: cadetblue;
  }

  .container {
    position: relative;
    width: fit-content;
    min-height: 1.5em;
    border: 0.05em solid #777;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    outline: none;
    input {
      border: none;
      font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: rgb(152, 155, 160);
      outline: none;
    }
    .value {
      flex-grow: 1;
      display: flex;
      gap: 0.5em;
      flex-wrap: wrap;
    }
    .clearBtn {
      background: none;
      color: rgb(152, 155, 160);
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0;
      font-size: 1.25em;
    }
    .clearBtn:focus,
    .clearBtn:hover {
      color: #333;
    }
    .divider {
      background: #777;
      align-self: stretch;
      width: 0.05em;
    }
    .caret {
      translate: 0 25%;
      border: 0.25em solid transparent;
      border-top-color: #777;
    }
    .inverted {
      transform: rotate(180deg) translate(0, 55%);
    }
    .options {
      display: none;
      position: absolute;
      margin: 0;
      padding: 0;
      list-style: none;
      max-height: 15em;
      overflow-y: auto;
      border: 1px solid #777;
      border-radius: 0.5em;
      width: 100%;
      left: 0;
      top: calc(100% + 0.5em);
      background: white;
      z-index: 999999;
      padding: 1vh 0.5vw;
      color: rgb(152, 155, 160);
      font-family: Arial, Helvetica, sans-serif;
    }
    .options.show {
      display: block;
    }
    .option {
      height: 3vh;
      padding: 0.25em 0.5em;
      cursor: pointer !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 999;
    }
    .option.highlighted {
      background-color: rgb(242, 244, 255);
      color: rgb(115, 139, 211);
    }
    .option.selected {
      background-color: rgb(242, 244, 255);
      color: rgb(115, 139, 211);
    }
    .optionBadge {
      display: flex;
      align-items: center;
      border: 0.05em solid #777;
      border-radius: 0.25em;
      gap: 0.25em;
      cursor: pointer;
      background: none;
      outline: none;
      color: rgb(152, 155, 160);
    }
    .optionBadge:hover,
    .optionBadge:focus {
      background-color: hsl(0, 100%, 90%);
      border-color: hsl(0, 100%, 50%);
    }
    .optionBadge:hover > .removeBtn,
    .optionBadge:focus > .removeBtn {
      color: hsl(0, 100%, 50%);
    }
    .optionBadge:hover > .removeBtn {
      font-size: 1.25em;
      color: #777;
    }
  }

  .container:focus {
    border-color: rgb(152, 168, 219);
    border-width: 1.5px;
  }
}
